/* CSS Vaariables */
:root {
    --primary: rgb(231, 149, 177);
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark);
}

body {
    background: rgb(236, 216, 235);
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: grid;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Showcase */

.showcase {
    min-height: 400px;
    background: url(Japan1.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    box-shadow: var(--shadow);
}

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
}

h2 {
    margin-top: 0;
}

/* Gallery */

.gallery-heading {
    background: var(--dark);
    padding: 0.2rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    padding-top: 20px;
}

.gallery {
    display: grid;
    box-shadow: var(--shadow);
    padding: 2rem;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
    width: 100%;
    box-shadow: var(--shadow);

}

/* Footer */

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* Media Queries */

@media(max-width: 700px) {
    .showcase h1 {
    font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 500px) {
    .showcase h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    }

    .showcase p {
        padding: 0;
        margin: 0;
    }

    .showcase .btn {
        padding: 0.6rem 1.3rem;
        margin: 0;
    }
}













